# build
.gradle
build/
target/
out/

# ide
/.settings/
/.classpath
/.project
/.idea/
*.iml

# logs
logs/

# authserver
/authserver/dist/config/*
!/authserver/dist/config/default

# gameserver
/gameserver/dist/config/*
!/gameserver/dist/config/default
gameserver/dist/dumps
gameserver/dist/geodata/*.*
gameserver/dist/images/*.*
!gameserver/dist/images/readme.txt

# scripts
/libs/scripts.jar