# build
.gradle
build/
target/
out/

# ide
/.settings/
/.classpath
/.project
/.idea/
*.iml

# logs
logs/

# gameserver
gameserver/dist/dumps
gameserver/dist/geodata/*.*
gameserver/dist/images/*.*
!gameserver/dist/images/readme.txt

# scripts
/libs/scripts.jar
/scripts/bin
